:root {
    --darker:  rgb(0, 0, 0);
    --lighter:  rgba(139, 158, 244, 0.6);
}

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: var(--darker);
    color: var(--lighter);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    justify-content: space-evenly;
    position: relative;
    border: dashed var(--lighter) 1px;
    border-radius: 10px;
    margin: 20px 10px 30px 10px;
    padding: 2em 1% 0 2%;
    min-width: 370px;
}

.title {
    position: absolute;
    left: 32%;
    top: -10%;
    border: solid var(--lighter) 0.1vw;
    padding: 3%;
    z-index: 1;
    background-color: var(--darker);
    border-radius: 5px;
    font-size: x-large;
}

#linear-title {
    position: absolute;
    top: -8%;
    left: 30%;
}

#box-glow-title {
    position: absolute;
    top: -12%;
    left: 25%;
    max-width: fit-content;
}

#overlay-title {
    position: absolute;
    top: -12%;
    right: 25%;
    max-width: fit-content;
}

.linear-gradient-background {
    background-image: linear-gradient(
        rgba(11, 11, 12, 0.3) 0%,
        rgba(139, 158, 244, 0.6) 100%
    );
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .row {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 992px) {
    .row {
        flex: 1 0 100%;
    }
}